<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="false"
         stopOnError="false"
         stopOnIncomplete="false"
         stopOnSkipped="false">
  <testsuites>
    <testsuite name="TheCompaniesApi SDK Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  
  <logging>
    <junit outputFile="junit.xml"/>
  </logging>
</phpunit>
